body, html {
   position: fixed;
    text-align: center;
   top: 0;
   left: 0  ;
   width:   100%;
   height:  100%;
   margin: 0;
   padding: 0;
    font-smoothing: antialiased;
    -webkit-font-smoothing:subpixel-antialiased;
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 100; letter-spacing: 1px;
    line-height: 14px;
    font-size: 12px;
    background-color:#fff;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);''
      -moz-tap-highlight-color: rgba(0,0,0,0);
}

form, input, textarea, div, span,ul,li, i, p, a, :link, :visited {
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  vertical-align: middle;
}


.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img .overlay {
    width:100%;
    height:100%;
    border: solid 1px rgba(255,255,255,0.14);
}



/*

╔══════════════════════╗
║                      ║
║                      ║
╚══════════════════════╝

*/



.screen {
    position: fixed;
    left:0; width:100%; min-width:1000px;
    top:0; height: 100%;
    padding: 1px;
    overflow: hidden;
}

.screen .topbar {
    position: absolute;
    top:0; height:34px;
    left:0; width:100%;
    background-color: #212121;
    border-bottom: solid 1px rgba(255,255,255,.14);
    text-transform: capitalize;

}

.topbar .option {
    display: inline-block;
    text-align: left;
    padding-left: 11px;
    padding-right: 11px;
    height: 34px;
    line-height: 34px;
    color: white;
    font-family: 'HelveticaNeue';
    font-size: 14px;
}



.screen .display {
    position: absolute;
    top:34px; height:calc(100%-34px);
    left:0; width:100%;
    border-bottom: solid 1px rgba(255,255,255,.14);
    background-color: #212121
}

/*

╔══════════════════════╗
║                      ║
║                      ║
╚══════════════════════╝

*/

.banner {
    width: auto;
    height: 260px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #212121;
}

.banner .box {
    display: inline-block;
    vertical-align: middle;
    width: 680px;
    height: 260px;
    margin-left:5px;
    margin-right:5px;
}

.banner .box:nth-child(1) {
    margin-left:-50%;
}


.banner .box .img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*

╔══════════════════════╗
║                      ║
║                      ║
╚══════════════════════╝

*/

.scroll {
    position: relative;
    display: block;
    float: left;
    text-align: left;
    width:calc(100% - 290px);
    height:auto;
    padding: 32px;
    overflow : hidden;
    overflow-y : scroll;
    background-color: #212121
}
.scroll .box {
    display: inline-block;
    width: 125px;
    height: 205px;
    padding-right: 20px;
}

.scroll .box .img {
    width: 105;
    height: 155px;
    background-size: cover;
}

.scroll .box .text {
    margin-top: 8px;
    text-align: left;
    width: 105px;
    height: 150px;
    background-size: cover;
    text-transform: capitalize;
    color: white;
}


/*

╔══════════════════════╗
║                      ║
║                      ║
╚══════════════════════╝

*/


.links {
    float: left;
    height:100%;
    width:290px;
    padding:34px;
    overflow : hidden;
    overflow-y : scroll;
    background-color: #212121;
    border-left: solid 1px #2F2F2F;
}

.links .box {
    width: 100%;
    margin-bottom: 8px;
    border-bottom: solid 1px #2F2F2F;
}

.links .box .text {
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    color: #6A6A6F;
    border-bottom: solid 1px #2F2F2F;
}















.box .img .overlay {
  width: 100%;
  height: 100%;
  border: solid 1px rgba(255,255,255,.14);
}

